.story {
  font-size: 24px;
}

.header {
  padding: 6rem 2rem;
  text-align: center;
  background-color: #eee;
}

.story h1 {
  margin: 0;
}

.story h2 {
  margin: 0.5rem 0 0;
  font-size: 18px;
}

.content {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.8;
}

.content p:first-child {
  margin-top: 0;
}

.translation {
  color: #c7c7c7;
  line-height: 1.4;
  margin-top: -15px;
}

.isHidden {
  display: none;
}