.storyCards {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  padding-left: 1rem;
  padding-right: 1rem;
}

.storyCard {
  text-align: center;
  min-height: 200px;
  position: relative;
  margin-bottom: 1rem;
  background-color: #eee;
}

.storyCard:last-child {
  margin-bottom: 0;
}

.storyCard a {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.6);
  color: #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color 0.3s ease-in-out;
}

.storyCard a:visited {
  color: #1b1b1b;
}

.storyCard a:hover {
  color: #1b1b1b;
  background-color: rgba(255, 255, 255, 0);
}

.title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 900;
}

.englishTitle {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 1rem;
}

.categories {
  margin-top: 0;
  font-size: 14px;
  font-weight: 900;
}

@media (min-width: 700px) {
  .storyCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .storyCard {
    width: 49%;
  }

  .storyCard:last-child {
    margin-bottom: 1rem;
  }

  .storyCard a {
    position: relative;
  }
}